*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products {
  display: flex;
  gap: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  text-decoration: none;
}

.product-category{
  text-decoration: none;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.4rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.product-category--selected{
  color: black;
  background-color: yellow;
}

.product-category:hover{
  background-color: rgba(0, 0, 0, 0.3);
}

.product-category--selected:hover{
  background-color: yellow;
}

.product-list{
  padding: 0.4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.product-item{
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  padding: 0.5rem;
  border-radius: 0.4rem;
  width: 10rem;
}

.product-image{
  height: 10rem;
  border-radius: 0.4rem;
}

.product-title{
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.product-price{
  font-size: 0.7rem;
}
